# Force all .py files to count as Python
*.py linguist-language=Python

# Fully ignore these from language stats
*.html linguist-detectable=false
*.tex linguist-detectable=false
*.bat linguist-detectable=false

# Ignore folders that ain't source code
assets/** linguist-detectable=false
bin/** linguist-detectable=false
build/** linguist-detectable=false
